.wrapper-video {
    display: flex;
    padding: 20px 0;
    border-bottom: solid 1px #ccc;
}
.avatar-video {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.content-video {
    margin-left: 12px;
    width: 100%;
    position: relative;
}
.info-video {
    margin-right: 114px;
}
.check {
    font-size: 1.4rem;
    margin: 0 4px 2px;
    color: #20d5ec;
}
.nickname {
    font-size: 1.8rem;
}
.full-name {
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 5px;
}
.video-play {
    border-radius: 5px;
    width: 282px;
    min-height: 500px;
}

.box-video {
    display: flex;
    margin-top: 12px;
}

.nav-bar {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 20px;
}

.btn-video {
    position: absolute;
    top: 0;
    right: 10px;
}
