.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 16px 0 0 8px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);

    &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;

    color: rgba(22, 24, 35, 0.5);
    font-size: 1.2rem;
}

.item {
    margin: 5px 6px 0 0;
    color: rgba(22, 24, 35, 0.5);

    &:hover {
        text-decoration: underline;
    }
}

.copy-right {
    font-size: 1.2rem;

    margin: 5px 6px 0 0;
}
