.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
    // background-color: #ccc;
}
.logo {
}

.custom-login {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
}

// action
.actions {
    display: flex;
    align-items: center;
}
.actions-btn {
    position: relative;
    font-size: 2.2rem;
    background-color: transparent;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;

    .badge {
        position: absolute;
        left: 30px;
        top: -2px;
        background-color: var(--primary);
        color: #fff;
        width: 20px;
        height: 16px;
        font-size: 1.2rem;
        border-radius: 40%;
        text-align: center;
    }

    .icon {
        top: 3px;
    }
}
.more-btn {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    margin-left: 16px;
    padding: 0 4px;
    background-color: transparent;
    cursor: pointer;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 12px;
}

// menu
