.wrapper {
    width: 320px;
    height: 171px;
    padding: 20px;
    color: #161823;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.avatar {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
}

.btn-follow {
    padding: 4px 0 0 0;
}

.nickname {
    position: relative;
    font-family: var(--font-SofiaPro);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 18px;
}

.check {
    position: absolute;
    width: 14px;
    height: 14px;
    color: rgb(32, 213, 236);
    top: 0px;
    margin-left: 4px;
}
.full-name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
}

footer {
    margin-top: 8px;
    display: flex;
}
.follow {
    margin-right: 12px;
    strong {
        margin-right: 6px;
    }
    span {
        color: #161823bf;
    }
}

.like {
    strong {
        margin-right: 6px;
    }
    span {
        color: #161823bf;
    }
}
